
body {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    background-image:url("images/elephants.png");
    
  
    
}

.leftside {
    width: 44vw;
    /* height: ; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
}
.img1 {
    position: absolute;
    height: 200vh;
   
   
  
}

.img2 {
    position: relative;
    height: 120px;
    width: auto;
}
@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf)
}
.logo-text {
    font-size: 4.5em;
    font-family: Norse-Bold;
    color: white;
    padding-top: 17px;
}

.behind-logo {
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.604);
    display: flex;
    top: 20vh;
    width: 44vw;
    justify-content: center;
    align-items: center;
}

.footer {
    position: relative;
    color: rgb(250, 248, 248);
    font-size: 1em;
    flex: 1;
    align-self: center;
    top: 96vh;
}

a {
    color: white;
}

.rightside {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 44vw;
    background-color: rgba(242, 245, 245, 0.887);
    height: 100vh;
    /* width: 100vw; */
   
   
}

button {
    background-color: #596D48;
    border-radius: 5px;
    margin: 20px;
    position: absolute;
    padding: 10px 25px 10px 25px;
    color: white;
    font-weight: bold;
    border: none;
}

.acct-q {
    margin: 20px;
    margin-top: 70px;
    
}

.log-in {
    color: #596D48;
}

.caption {
    font-weight: 500;
    font-size: 1.4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    margin-top: 110px;
    margin-bottom: 39px;
}

form {
    border: 1px gray;
    box-shadow: 0px 5px 9px rgb(81, 79, 79);
    background-color: rgb(255, 255, 255);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: row;
   
}

legend {
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px;
    padding: 20px 5px 0px 5px;
}

input:focus {
    border: 1px blue;
    box-shadow: 2px 2px 4px gray;
}

input {
    padding: 5px 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    flex: 1;
    width: 200px;
    border-radius: 4px;
    border: 1px solid black;
    
}
label {
    font-size: .7em;
    padding-left: 12px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type=password] {
    border: 1px solid rgb(201, 3, 3);
    border-radius: 4px;
} 

input, label {
    display: block;
}

#confirmPassword-feedback {
    color: red;
    padding-left: 12px;
    margin-top: -50px;
}

#confirmPassword {
    margin-bottom: 0px;
}


